.footer{
    /* background-size: cover; */
    background: linear-gradient(45deg,#2E7650,#569E65);
}
.footer .background{
    background:url('../assets/images/neural-network.png');
    background-size: cover;
    background-position: center;
    height: 10rem;
    overflow: hidden;
}
.footer-container{
    display: flex;   
    justify-content: space-around;
    color: #fff;
    margin-top: 3rem;
    font-size: 20px;

}
.footer img{
    position: relative;
    width: 4rem;
}
.contact{
    display: flex;
    flex-direction: column;
}
.policy{
    display: flex;
    flex-direction: column;
}
.policy a{
    text-decoration: none;
    color: #fff;
}