/* .hero{
    background: linear-gradient(45deg,#2E7650,#569E65);
}
.herocontainer{
    overflow-x: hidden;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}
.herocontainer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #145D4C;
    height: 600px;
    width: 70rem ; 
    padding:0rem 0rem 0rem 4rem ; 
    border-radius: 2rem 2rem 0rem 0rem; 
    gap: 0.5rem;
    bottom: 0;
}
.farmer{
    width: 25rem;
    height: 30rem;
}
.farm{
    height: 100vh;
    width: 38rem;
    border-radius: 0rem 2rem 0rem 0rem;
    background: url('../images/Farm.jpg') no-repeat;
    background-size: cover;
}
.herotext{
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
}
.container2{
    width: 100%;
    height: 100%;
}
.container2 .section1{
    width: 100%;
    height: 50vh;
    background: url('../images/plantshadow.png')no-repeat center center ;
    background-size: cover;
    background-color:#e2dfdf;
    opacity: 0.3;
}
.container2 .section2{
    width: 100%;
    height: 50vh;
    background:  #1F4E3C;
} */


.hero {
    height: 100vh;
    width: 100%;
    background: url('../assets/images/Farm3.jpg')no-repeat center center ; 
    background-size: cover;

}
.hero .herocontainer{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.hero .brandname{
    position: relative;
    top:77vh;
    left:21%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 47rem;
    border-radius: 2rem ;
    background: #034711 ;

}
.hero .brandname span{
    color:#ffff;
    font-size: 5rem;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .hero{
        width: 100%;
        height: 100vh;
    }
    .hero .brandname {
        top: 87vh;
        width: 15rem;
        height: 5rem;
        border-radius: 1rem;
    }
    .hero .brandname span{
        color:#ffff;
        font-size: 1.5rem;
        font-weight: 600;
    }
}